{% extends 'base.html.twig' %}

{% block title %}Edit Topic "{{ topic.name }}"{% endblock %}

{% block body %}
	<div class="bg-blue-light p-3 shadow">
	    <div class="d-flex flex-column flex-sm-row justify-content-between">
	    	<h2 class="mr-3">Edit topic "{{ topic.name }}"</h2>

		    {{ include('topic/_delete_form.html.twig') }}
		</div>

	    {{ include('topic/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('topic_show', {'id': topic.id}) }}">&larr; Go back</a>
    </div>
{% endblock %}
